@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
@font-face{
	font-family:"Montserrat";
	font-weight:normal;
	font-style:normal;
	src:url("fonts/Montserrat-regular.eot");
	src:url("fonts/Montserrat-regular.eot?#iefix") 
		format("embedded-opentype"),
		url("fonts/Montserrat-regular.woff") 
		format("woff"),
		url("fonts/Montserrat-regular.ttf") 
		format("truetype"),
		url("fonts/Montserrat-regular.svg#Montserrat") format("svg")
}
	
@font-face{font-family:"Montserrat";font-weight:bold;font-style:normal;src:url("fonts/Montserrat-700.eot");src:url("fonts/Montserrat-700.eot?#iefix") format("embedded-opentype"),url("fonts/Montserrat-700.woff") format("woff"),url("fonts/Montserrat-700.ttf") format("truetype"),url("fonts/Montserrat-700.svg#Montserrat") format("svg")}

@font-face{font-family:"Montserrat-Regular";font-weight:normal;font-style:normal;src:url("fonts/Montserrat-regular.eot");src:url("fonts/Montserrat-regular.eot#iefix") format("embedded-opentype"),url("fonts/Montserrat-regular.woff") format("woff"),url("fonts/Montserrat-regular.ttf") format("truetype"),url("fonts/Montserrat-regular.svg") format("svg")}

h2{
	font-family:Montserrat,Arial,sans-serif;
	font-weight:bold;
	font-style:normal;
	color:#606060;
	text-rendering:optimizeLegibility;
	margin-top:15px;
	margin-bottom:15px;
	line-height:30px
}
h1 {
  color: #606060;
  color: rgb(96,96,96);
  font-weight: normal;
  margin: 0.5em auto;
  font-family: Montserrat;
font-style:normal;
  font-size: 28px;
  line-height: 30.8px;
}
